<div class="view">
  <div class="layout layout--row">
    <div class="grid grid--cols-5">
      <div class="col col--span-3">

        <!-- Alerts go here -->
        <div id="alerts-list" class="richtext columns gap--none"></div>

        <div class="item mb--3">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small">Route</span>
            <span
              id="route-name"
              class="value value--small"
              data-value-fit="true">-</span>
          </div>
        </div>
        <div class="item mb--3">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small">Stop</span>
            <span
              id="stop-name"
              class="value value--small clamp--1"
              data-value-fit="true">{{ stop.stop_name | default: 'Stop Not Found' }}</span>
          </div>
        </div>
        <div class="item mb--3">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small">Next Trip</span>
            <span
              id="trip-name"
              class="value value--small"
              data-value-fit="true">-</span>
          </div>
        </div>
        <div class="item mb--3">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small">Departs</span>
            <span
              id="departs"
              class="value value--small"
              data-value-fit="true">-</span>
          </div>
        </div>
        <!-- Show future trips -->
        <div id="future"></div>
      </div>
      <div class="col col--span-2">
        <div
          id="wego-map"
          class="wego-map"
          style="overflow: hidden;">
          <div id="wego-map-canvas" style="width:100%; height:400px;">Loading ...</div>
        </div>
      </div>
    </div>

  </div>

  <div class="title_bar">
    <img
      class="image"
      src="https://raw.githubusercontent.com/transitnownash/trmnl-wego-next-trip/refs/heads/main/assets/wego-bus-map.svg"
      width="28"
      height="28" />
    <span class="title">WeGo Public Transit Schedule</span>
    <span class="instance">map.transitnownash.org</span>
  </div>

</div>
