---
strategy: polling
no_screen_padding: 'no'
dark_mode: 'no'
static_data: ''
polling_verb: get
polling_url: 'https://gtfs.transitnownash.org/stops/{{ wego_stop_id }}/next.json

  '
polling_headers: ''
polling_body: ''
id: 91940
custom_fields:
- keyname: author_bio
  name: About This Plugin
  field_type: author_bio
  description: Displays the next bus or train for a given stop in Nashville, Tennessee.
  github_url: https://github.com/transitnownash/trmnl-wego-next-trip
  learn_more_url: https://map.transitnownash.org/
  email_address: stephen@yearg.in
- keyname: wego_stop_id
  field_type: string
  name: Stop ID
  description: The Stop Code for the stop to monitor, as can be found <a href="https://map.transitnownash.org/stops" class="underline">here</a>.
  placeholder: PORGRESF
- keyname: thunderforest_api_key
  field_type: password
  name: Thunderforest API Key
  description: Get <a href="https://www.thunderforest.com/maps/mobile-atlas/" class="underline">nicer looking maps</a> by <a href="https://www.thunderforest.com/pricing/" class="underline">obtaining an API key</a>.
  placeholder: ABCDefg1234
  required: false
name: Nashville WeGo Public Transit
refresh_interval: 15
